[submodule "automail"]
	path = automail
	url = https://github.com/lukeathedev/automail
[submodule "dashboard"]
	path = dashboard
	url = https://github.com/lukeathedev/dashboard
[submodule "scraper"]
	path = aggregator
	url = https://github.com/lukeathedev/aggregator
[submodule "database"]
	path = database
	url = https://github.com/lukeathedev/database
